* {
  box-sizing: border-box;
}

html {
  background: #fff url("https://regularlyscheduledprogrammingblog.files.wordpress.com/2018/01/angled-puzzle.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: sans-serif;
}

img {
  width: 70%;
  background: rgba(8, 217, 214, 0.75);
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
  cursor: pointer;
}

input {
  padding: 10px;
  width: 210px;
  height: 30px;
  border-radius: 5px;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
  color: #ff2e63;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
}

.main-header {
  text-align: center;
  margin: 1.5rem auto;
}

.search-bar {
  margin: 0.5rem auto;
  position: relative;
}

.search-bar button {
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 15px;
  background-color: #ff2e63;
  border-radius: 5px;
}

.search-bar input {
  text-indent: 30px;
}

.random-button {
  margin: 1.5rem auto;
}

.random-button button {
  padding: 10px;
  background-color: #ff2e63;
  border: 1.3px solid #08d9d6;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.output-section {
  width: 90%;
}

.output-results {
  margin: 10px auto;
  padding: 1px 20px;
  border-radius: 5px;
  background-color: rgba(8, 217, 214, 0.85);
}

.no-results {
  text-align: center;
}

@media (min-width: 435px) {
  button {
      font-size: 20px;
  }
  input {
      width: 280px;
      height: 40px;
      font-size: 20px;
  }
  .search-bar button {
      width: 40px;
      height: 40px;
      font-size: 20px;
  }
  .search-bar input {
      text-indent: 40px;
  }
  .output-section {
      width: 80%;
  }
}

@media (min-width: 720px) {
  input {
      width: 400px;
  }
  .output-section {
      width: 600px;
  }
}

@media (min-width: 968px) {
  button {
      font-size: 22px;
  }
  input {
      width: 450px;
      height: 45px;
      font-size: 22px;
      text-indent: 22px;
  }
  .search-bar button {
      width: 45px;
      height: 45px;
  }
  .search-bar input {
      text-indent: 45px;
  }
  .output-section {
      width: 700px;
      font-size: 18px;
  }
}
